---
import '../styles/global.css';
---

<footer class='footerBg py-5'>
  <div class='container'>
    <div class='row text-white'>
      <div class='col-12 col-md-6 col-lg-6 col-xl-6 footerSection'>
        <a
          class='navbar-brand d-flex align-items-center fw-bold gap-3 mb-2 footerBrand'
          href='#'
        >
          <!-- <img -->
            <!-- src='https://i.postimg.cc/fydsZ5LN/Hush03-large.png' -->
            <!-- alt='Logo' -->
            <!-- width='36' -->
            <!-- height='36' -->
            <!-- class='d-inline-block align-text-top' -->
          <!-- /> -->
          Leónidas Neftalí González Campos
        </a>
        <p class='description'>
          <!-- Something here if we need it idk -->
        </p>
      </div>
      <div class='col-12 col-md-3 col-lg-3 col-xl-3 footerSection'>
        <p class='fw-bold'>Contact</p>
        <p class='description'>nefesmeralda@gmail.com</p>
        <p class='description'>+52 449 489 22 37</p>
        <p></p>
      </div>
      <div class='col-12 col-md-3 col-lg-3 col-xl-3 footerSection'>
        <p class='fw-bold'>Follow Me</p>
        <div class='socialIconsContainer'>
            <a class='socialMedia rounded-pill' href="https://github.com/Kyn21kx">
            <i class='bi bi-github socialIcon'></i>
          </a>
          <a class='socialMedia rounded-pill' href="#">
            <i class='bi bi-linkedin socialIcon'></i>
          </a>
          <a class='socialMedia rounded-pill' href="#">
            <i class='bi bi-instagram socialIcon'></i>
          </a>
        </div>
      </div>
    </div>
    <hr class='text-white' />
    <p class='copyright text-white text-center'>
      © 2025 Hush Engine. All rights reserved. Website built by DevSpace.
    </p>
  </div>
</footer>
