---
import '../styles/global.css';
import '../styles/temp.css';
---

<section class='darkBg py-4 mb-5 px-3'>
  <div class='container text-white neonContainer py-4 key-fetures-container'>
    <div class='d-flex justify-content-center w-100 mb-4'>
      <p class='m-0 sectionTitle text-center'>Key features</p>
    </div>
    <div class='row features-container'>
      <div class='col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 feature-item'>
        <div class='text-center'>
          <img src='./efficiency.svg' class='feature-icon img-fluid' />
        </div>
        <p class='fw-bold feature-title'>Efficiency focused</p>
        <p class='feature-description description'>
          Hush features a swift user interface and a Vim-inspired command mode
          for quick navigation. This allows you to choose between using Hush as
          a traditional engine with a mouse or executing actions rapidly through
          the command mode.
        </p>
      </div>
      <div class='col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 feature-item'>
        <div class='text-center'>
          <img src='./flexible.svg' class='feature-icon img-fluid' />
        </div>
        <p class='fw-bold feature-title'>Flexible</p>
        <p class='feature-description description'>
          Simplify your game development process by using Hush's intuitive tools
          that don't try to corner you into doing things one specific way, thus,
          experience with other engines translates over seamlessly to Hush.
        </p>
      </div>
      <div class='col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 feature-item'>
        <div class='text-center'>
          <img src='./architecture.svg' class='feature-icon img-fluid' />
        </div>
        <p class='fw-bold feature-title'>ECS architecture</p>
        <p class='feature-description description'>
          FLECS sits on our technology stack, providing us with fast and
          reliable queries to the entities in the world, a clean separation of
          data, logic and entities.
        </p>
      </div>
      <div class='col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 feature-item'>
        <div class='text-center'>
          <img src='./performance.svg' class='feature-icon img-fluid' />
        </div>
        <p class='fw-bold feature-title'>Built for native performance</p>
        <p class='feature-description description'>
          Hush's underlying rendering system implements Vulkan for the most
          compatible rendering workflow across PC platforms, DirectX for
          Microsoft-specific systems, and OpenGL for any legacy systems that
          don't support Vulkan yet.
        </p>
      </div>
    </div>
  </div>
</section>
