---
import "../styles/global.css";
import "../styles/temp.css";
---

<section class="darkBg py-5 px-3 mt-5 mb-5">
    <div class="container text-white neonContainer whatWhyContainer">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-7 col-xl-7 py-3 d-flex" style="align-self: center;">
                <div class="centerContainer">
                    <p class="m-0 sectionTitle">What & Why</p>
                    <p class="mt-3 description">
                        Hush was born as a project to address some of the issues in the game development industry that we consider were not
                        talked about enough, the dread that you feel when opening your project because it takes too long to load,
                        tedious navigation and complicated workflows to get something from idea to implementation in-game, Hush Engine aims
                        to solve these issues by providing game creators with a simple yet powerful toolbox that empowers you to focus on
                        what matters... <b>making games!</b> 
                    </p>
                    <!-- <div class="d-flex"> -->
                        <!-- <p class="numberBullet">1</p> -->
                        <!-- <p class="description"> -->
                            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing -->
                            <!-- elit, -->
                        <!-- </p> -->
                    <!-- </div> -->
                    <!-- <div class="d-flex"> -->
                        <!-- <p class="numberBullet">2</p> -->
                        <!-- <p class="description"> -->
                            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing -->
                            <!-- elit, -->
                        <!-- </p> -->
                    <!-- </div> -->
                    <!-- <div class="d-flex"> -->
                        <!-- <p class="numberBullet">3</p> -->
                        <!-- <p class="description"> -->
                            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing -->
                            <!-- elit, -->
                        <!-- </p> -->
                    <!-- </div> -->
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-5 col-xl-5 d-flex justify-content-center">
                <img
                    src="https://i.postimg.cc/nL0Y5yr1/Helmet-Preview.png"
                    class="w-75 img-fluid"
                />
            </div>
        </div>
    </div>
</section>
